@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&display=swap');


.anonymous-regular {
  font-family: "Anonymous Pro", monospace;
  font-weight: 400;
  font-style: normal;
}

.anonymous-bold {
  font-family: "Anonymous Pro", monospace;
  font-weight: 700;
  font-style: normal;
}


html,
body {
  overflow-x: hidden !important;
}

html,
body {
  scroll-behavior: smooth;
}

div {
  overflow: hidden;
}
::-webkit-scrollbar {
  width: 12px; /* Largura da barra de rolagem */
}

::-webkit-scrollbar-track {
  background: #fff; /* Cor de fundo da faixa da barra de rolagem */
}

::-webkit-scrollbar-thumb {
  background: #ffffff; /* Cor do thumb */
  border-radius: 100px !important; /* Borda do thumb */
}

/* Para navegadores Firefox */
/* Este é um exemplo básico, o Firefox tem menos flexibilidade de estilização */
/* Note que pode haver variações dependendo da versão do Firefox */
/* Você pode precisar usar vendor prefixes específicos do Firefox para versões mais antigas */
* {
  scrollbar-width: thin; /* Largura da barra de rolagem */
  scrollbar-color: #ffc700 #fff; /* Cor da barra de rolagem e do thumb */
}
