@import url("https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&display=swap");

.hacker {
  font-family: "Anonymous Pro", monospace;
}

html,
body {
  overflow-x: hidden !important;
}

html,
body {
  scroll-behavior: smooth;
}

div {
  overflow: hidden;
}
::-webkit-scrollbar {
  width: 12px; /* Largura da barra de rolagem */
}

::-webkit-scrollbar-track {
  background: #fff; /* Cor de fundo da faixa da barra de rolagem */
}

::-webkit-scrollbar-thumb {
  background: #ffffff; /* Cor do thumb */
  border-radius: 100px !important; /* Borda do thumb */
}

* {
  scrollbar-width: thin; /* Largura da barra de rolagem */
  scrollbar-color: #ffc700 #fff; /* Cor da barra de rolagem e do thumb */
}

.z-20 {
  z-index: 9 !important;
}

.testimonials-container {
  overflow: hidden;
}

.testimonials-carousel {
  display: flex;
  transition: transform 0.5s ease;
}

.slick-dots li button::before {
  background-color: white;
  height: 0.3rem !important;
  text-align: start !important;
  width: 2rem !important;
  margin-top: 2rem !important;
}

.slick-dots {
  display: inline-flex !important;
  gap: 10px !important;
  margin-right: 2rem !important;
  justify-content: start !important;
  margin-top: 1rem !important;
  flex-direction: row !important;
}

.testimonial {
  width: 20rem;
}

.active {
  display: inline-block;
  margin: auto;
}

.prev-btn,
.next-btn {
  font-size: 1.5rem;
  border: none;
  outline: none;
  cursor: pointer;
  z-index: 1;
}

.dot {
  width: 10px;
  height: 10px;
  background-color: #888;
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
}

.active-dot {
  background-color: #333;
}

.react-glitch-wrapper {
  font-weight: 300 !important;
  font-size: 20px!important;
  font-family: "Anonymous Pro", monospace!important;
}
